## metrics of chunked data

In [1]:
import pandas as pd
import os
import shelve
import numpy as np

In [2]:
results = shelve.open(os.path.join("..", "data", "prep_trainvalidationtest_1"))
df_chunked = results["chunks"]
tokenize_table = results["tokenize_table"]
results.close

In [3]:
df_chunked

,origin,chunk,set,tokens,token_ids,attention_masks,labels
0,100.fasta,1,test,"[mcl00578, mcl00294, mcl01096, mcl01000, mcl01...","[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,100.fasta,2,test,"[mcl01236, mcl00376, mcl04030, mcl00368, mcl01...","[61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 7...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,100.fasta,3,test,"[mcl00784, mcl01263, mcl00374, mcl01238, mcl00...","[111, 112, 113, 114, 115, 116, 117, 118, 119, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,100.fasta,4,test,"[mcl03193, mcl02304, mcl00809, mcl01966, mcl02...","[160, 161, 162, 163, 164, 165, 166, 167, 168, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,100.fasta,5,test,"[mcl02582, mcl03806, mcl03733, mcl03779, mcl03...","[210, 211, 212, 213, 214, 215, 216, 217, 218, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...
234558,9998.fasta,85,training,"[mcl01916, mcl00745, mcl06673, mcl06098, mcl00...","[3154, 3153, 6115, 6116, 3150, 3145, 3144, 314...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
234559,9998.fasta,86,training,"[mcl04304, mcl04602, mcl05925, mcl12035, mcl12...","[6139, 6140, 3116, 6141, 6142, 6143, 6144, 614...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
234560,9999.fasta,1,training,"[mcl09252, mcl09004, mcl11223, mcl09170, mcl02...","[6181, 6182, 6183, 6184, 3445, 3444, 6185, 618...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
234561,9999.fasta,2,training,"[mcl07933, mcl08867, mcl07944, mcl08857, mcl07...","[6227, 6228, 6229, 6230, 6231, 6232, 6233, 623...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
234562,9999.fasta,3,training,"[mcl08832, mcl08783, mcl08981, mcl07062, mcl00...","[6276, 6277, 6278, 6279, 2524, 4174, 6280, 628...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, ..."

In [4]:
#tokenize_table

In [6]:
print("number of files scanned: ", df_chunked["origin"].nunique())
print('number of chunks:',df_chunked.shape[0])
print("number of unique tokens:", len(tokenize_table.keys()))
print("\nnumber of na per column:")
print(df_chunked.isna().sum())

number of files scanned:  9226
number of chunks: 234563
number of unique tokens: 32634

number of na per column:
origin             0
chunk              0
set                0
tokens             0
token_ids          0
attention_masks    0
labels             0
dtype: int64

In [7]:
for set in ["training","validation","test"]:
    n_t = np.array(df_chunked[df_chunked["set"] == set]["attention_masks"]).sum().sum()
    n_TE = np.array(df_chunked[df_chunked["set"] == set]["labels"]).sum().sum()
    
    s1 = 0
    s2 = 0
    for c in df_chunked[df_chunked["set"] == set]["labels"]:
        s2 = s2 + 1
        if sum(c) > 0:
         s1 = s1 + 1
  
    print("\n", set)
    print("  number of chunks: {:,d} = {:n}%".format(s2, 100))
    print("  number of chunks with TE tokens: {:,d} = {:n}%".format(s1, s1/s2*100))
    print("  number of tokens : {:,d} = {:n}%".format(n_t,100))
    print("  number of TE tokens: {:,d} = {:n}%".format(n_TE,n_TE/n_t*100))

 training
  number of chunks: 209,159 = 100%
  number of chunks with TE tokens: 39,705 = 18.9832%
  number of tokens : 30,826,197 = 100%
  number of TE tokens: 191,573 = 0.621462%

 validation
  number of chunks: 12,736 = 100%
  number of chunks with TE tokens: 2,500 = 19.6294%
  number of tokens : 1,879,773 = 100%
  number of TE tokens: 11,165 = 0.593955%

 test
  number of chunks: 12,668 = 100%
  number of chunks with TE tokens: 2,510 = 19.8137%
  number of tokens : 1,868,895 = 100%
  number of TE tokens: 11,994 = 0.64177%

In [8]:
# get length of each chunk
l = []
for row in list(df_chunked["attention_masks"]):
  l.append(sum(row))
df_chunked["length"] = l

# get number of TE elements per chunk
e = []
for row in list(df_chunked["labels"]):
  e.append(sum(row))
df_chunked["TEs"] = e

print("length of chunk     number of chunks     number of chunks with TE marks")
ll = sorted(list(df_chunked["length"].unique()))
for i in ll:
    x = df_chunked[(df_chunked["length"] == i) & (df_chunked["TEs"] > 0)]["TEs"].count()
    n = df_chunked[df_chunked["length"] == i]["TEs"].count()
    #print(x)
    #print(n)
    print("     {:>6}            {:>6}            {:>6}".format(i, n, x))

length of chunk     number of chunks     number of chunks with TE marks
          1               159                 0
          2               215                 1
          3               278                 1
          4               255                 5
          5               272                 6
          6               190                11
          7               141                 9
          8               117                 7
          9               107                34
         10                27                 5
         11                50                 7
         12                44                10
         13                53                10
         14                22                16
         15                20                13
         16                10                 4
         17                11                 5
         18                 8                 6
         19                10                 5
         20                 6                 5
         21                 4                 2
         22                 7                 4
         23                 3                 2
         24                 6                 5
         25                 8                 6
         26                 6                 1
         27                 2                 1
         28                10                 4
         29                 8                 8
         30                11                 4
         31                17                13
         32                15                10
         33                15                11
         34                13                11
         35                16                11
         36                15                 6
         37                29                23
         38                15                 5
         39                25                12
         40                20                 7
         41                13                 5
         42                21                 6
         43                39                11
         44                24                14
         45                16                 5
         46                21                10
         47                21                13
         48                28                14
         49                36                18
         50                33                22
         51                38                25
         52                34                15
         53                46                33
         54                33                25
         55                35                21
         56                43                29
         57                54                47
         58                38                30
         59                24                18
         60                37                31
         61                26                24
         62                38                29
         63                31                24
         64                26                14
         65                25                17
         66                26                18
         67                32                22
         68                22                13
         69                37                24
         70                38                24
         71                28                18
         72                48                23
         73                39                24
         74                42                35
         75                40                29
         76                83                80
         77                72                69
         78                73                71
         79                44                43
         80                35                35
         81                44                43
         82                31                28
         83                46                39
         84                38                28
         85                20                13
         86                26                23
         87                19                17
         88                27                23
         89                32                29
         90                27                25
         91                39                35
         92                66                55
         93                33                30
         94                27                25
         95                25                23
         96                25                22
         97                34                30
         98                33                27
         99                29                26
        100                36                27
        101               109                56
        102               115                63
        103               101                40
        104               115                53
        105               123                55
        106               136                71
        107               119                45
        108               112                40
        109                93                51
        110               108                50
        111               108                61
        112               132                69
        113               126                63
        114               121                59
        115               128                47
        116               128                56
        117                92                43
        118                78                45
        119               103                52
        120               108                62
        121                94                48
        122                98                35
        123               104                48
        124                97                50
        125               100                51
        126                77                35
        127                90                49
        128               118                51
        129                83                32
        130                79                37
        131                89                41
        132                76                37
        133                94                43
        134                90                37
        135                90                39
        136                93                41
        137                75                37
        138                89                47
        139                69                27
        140                90                44
        141                78                42
        142                75                39
        143                70                40
        144                92                39
        145                97                45
        146                95                33
        147                87                29
        148                87                20
        149                74                30
        150            225422             40586